<div class='row'>
	<div class='search-box'>
		<form method='POST' action='/search' id='search'>
		<div class='col-md-4'>
			<div class="month-box">
				<select name='month' form='search'>
				    <option value='jan'>Jan</option>
				    <option value='feb'>Feb</option>
				    <option value='mar'>Mar</option>
				    <option value='apr'>Apr</option>
				    <option value='may'>May</option>
				    <option value='jun'>Jun</option>
				    <option value='jul'>Jul</option>
				    <option value='aug'>Aug</option>
				    <option value='sep'>Sep</option>
				    <option value='oct'>Oct</option>
				    <option value='nov'>Nov</option>
				    <option value='dec'>Dec</option>
				</select>
			</div>
		</div>
		<div class='col-md-4'>
			<div class="low-temp-box">
				<select name='low' form='search'>
				    <option value='0'>0</option>
				    <option value='5'>5</option>
				    <option value='10'>10</option>
				    <option value='15'>15</option>
				    <option value='20'>20</option>
				    <option value='25'>25</option>
				    <option value='30'>30</option>
				</select>
			</div>
		</div>
		
		<div class='col-md-4'>
			<div class="high-temp-box">
				<select name='high' form='search'>
				    <option value='5'>5</option>
				    <option value='10'>10</option>
				    <option value='15'>15</option>
				    <option value='20'>20</option>
				    <option value='25'>25</option>
				    <option value='30'>30</option>
				    <option value='35'>35</option>
				</select>
			</div>
		</div>
		<div class='col-md-4 col-md-offset-4'>
			<input type='submit' value='Search' class='btn btn-orange btn-block search-column'>
		</div>
		</form>
	</div>
</div>